<%= form_with(model: daily_target, local: true, url: edit_user_daily_target_path(user.id, daily_target.id)) do |form| %>
  <% if daily_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_target.errors.count, "error") %> prohibited this daily_target from being saved:</h2>

      <ul>
      <% daily_target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fats %>
    <%= form.number_field :fats %>
  </div>

  <div class="field">
    <%= form.label :carbs %>
    <%= form.number_field :carbs %>
  </div>

  <div class="field">
    <%= form.label :proteins %>
    <%= form.number_field :proteins %>
  </div>

  <div class="field">
    <%= form.label :calories %>
    <%= form.number_field :calories %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
