<div class='h-screen bg-blue-lightest py-32'>
  <div class="bg-white shadow-lg rounded-lg overflow-hidden pt-8 mb-4 mx-8 py-8">
    <p class='text-5xl text-center'>Log in</p>

    <div class='text-5xl p-8'>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="my-8">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border border-grey w-full p-4 my-4' %>
        </div>

        <div class="my-8">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'border border-grey w-full p-4 my-4'  %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="flex items-center">
            <%= f.check_box :remember_me, class: 'h-12 w-12 mx-4 border border-black' %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions my-4">
          <%= f.submit "Log in", class: 'border-2 border-indigo py-2 px-4 rounded-lg w-full'  %>
        </div>
      <% end %>

      <div class='mt-8'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
