<!DOCTYPE html>
<html>
  <head>
    <title>DietTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class='bg-black p-2 h-12 flex justify-between'>
      <div class='flex'>
        <%= link_to root_path, class: 'no-underline' do %>
          <h1 class='text-white'>
            Fryman Macronutrient Log
          </h1>
        <% end %>
      </div>

      <div class='flex'>
        <ul class="list-reset flex">
          <li class="mr-6">
            <%= link_to 'Back', users_path, class: 'text-white' %>
          </li>
          <% if user_signed_in? %>
            <li class="mr-6">
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
          <% else %>
            <li class="mr-6">
              <%= link_to('Login', new_user_session_path)  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class='m-4'>
      <%= yield %>
    </div>
  </body>
</html>
