<!DOCTYPE html>
<html>
  <head>
    <title>DietTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class='bg-black p-4 h-24 flex justify-between'>
      <div class='flex items-center'>
        <%= link_to root_path, class: 'no-underline' do %>
          <h1 class='text-white text-5xl p-4'>
            Fryman Macro Log
          </h1>
        <% end %>
      </div>

      <div class='flex'>
        <ul class="list-reset flex text-3xl items-center">
          <% if user_signed_in? %>
            <li class="mr-6">
              <%= link_to user_days_path(current_user), class: 'text-white no-underline'  do %>
                <i class='material-icons'>event</i>
                <span class=''>Calendar</span>
              <% end %>
            </li>
            <li class="mr-6">
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'text-white no-underline') %>
            </li>
          <% else %>
            <li class="mr-6">
              <%= link_to('Login', new_user_session_path)  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class='text-5xl'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
